.movies-card {
    margin: 0;
    padding: 80px 0 0;
    display: flex;
    flex-direction: column;
}

.movies-card__list {
    margin: 0;
    padding: 0 0 78px 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: auto;
    justify-content: space-between;
    justify-items: center;
    -moz-column-gap: 30px;
    column-gap: 31px;
    row-gap: 59px;
}

.movies-card__button {
    border: none;
    background-color: var(--button_color_grey);
    border-radius: 6px;
    min-height: 36px;
    margin: 0;
    padding: 11px 142px 9px;
    align-self: center;
    cursor: pointer;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.movies-card__button:hover {
    opacity: .8;
}

@media screen and (max-width: 1279px) {

    .movies-card {
        padding-top: 80px;
        align-items: center;
    }

    .movies-card__list {
        grid-template-columns: repeat(2, auto);
        row-gap: 46px;
        padding-bottom: 60px;
    }
}