.my-input {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.my-input__input {
    margin: 0;
}

.my-input__error-text {
    padding-top: 5px;
}

.my-input__error_visible {
    max-width: 90%;
    display: block;
    color: var(--error_text-color);
}

.profile__name_input {
    text-align: right;
    border: none;
}

.profile__name-error {
    text-align: right;
}

.profile__email_input {
    text-align: right;
    border: none;
}

.profile__email-error {
    text-align: right;
}