.app {
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    background-color: var(--background-color_white);
}

.list {
    list-style: none;
}

.link {
    color: var(--general_text_color);
    text-decoration: none
}

.link:hover {
    opacity: .7;
}

.button:hover {
    opacity: .8;
}