.header {
    background-color: var(--background-color_grey);
    margin: 0 0 0 11px;
    padding: 20px 70px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 38px 59%;
    align-items: center;
    justify-content: space-between;
}

.header__logged-in {
    background-color: var(--background-color_white)
}

.header__logo {
    max-width: 38px;
    aspect-ratio: 1/1;
    cursor: pointer;
}

@media screen and (max-width: 1279px) {
    .header {
        padding-left: 30px;
        padding-right: 18px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding-left: 14px;
        padding-right: 14px;
    }
}