.about-project {
    margin: 0;
    padding: 110px 70px;
    border: 1px solid #000;
}

.about-project__title {
    margin: 0;
    padding: 0 0 23px 0;
    border: 1px solid blue;
    color: var(--general_text_color);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    border-bottom: 1px solid var(--underline_color);
}

.about-project__articles {
    display: flex;
    flex-direction: row;
}

.about-project__article {
    border: 1px solid red;
}

.article__header {
    margin: 0;
    padding: 70px 0 26px 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
}

.article__text {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.about-project__duration {
    margin: 0;
    padding: 110px 0 0 0;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
}

.duration__one-week {
    width: 25%;
    border: 1px solid green;
    text-align: center;
}

.time__week {
    color: var(--button_text_color);
    background-color: var(--button_color);
}

.time__four-weeks {
    background-color: var(--background-color_light-grey);
}

.duration__four-week {
    width: 75%;
    border: 1px solid green;
    text-align: center;
}

.duration__time {
    margin: 0;
    padding: 9px 14px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.duration__stage-name {
    color: var(--text-color_grey);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    margin: 0;
    padding: 14px 0 0 0;
}

@media screen and (max-width: 1279px) {
    .about-project {
        padding: 90px 50px;
    }

    .article__text {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 700px) {
    .about-project {
        padding: 70px 18px;
    }

    .about-project__title {
        font-size: 18px;
        letter-spacing: -0.72px;
        padding-bottom: 28px;
    }
}