.about-me {
    margin: 0;
    padding: 112px 70px 101px;
}

.about-me__article {
    margin: 0;
    padding: 66px 0 0;
    display: grid;
    grid-template-areas:
        "title picture"
        "description picture"
        "text picture"
        "link picture";
    grid-template-columns: 600px 270px;
    -moz-column-gap: 270px;
    column-gap: 270px;
}

.about-me__image {
    max-width: 100%;
    margin: 0;
    padding: 0;
    grid-area: picture;
    border-radius: 10px;
}

.about-me__title {
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
    grid-area: title;
}

.about-me__description {
    margin: 0;
    padding: 18px 0 26px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    grid-area: description;
}

.about-me__text {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    grid-area: text;
}

.about-me__link {
    margin: 0;
    padding: 99px 0 0;
    color: var(--general_text_color);
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    grid-area: link;
}

@media screen and (max-width: 1279px) {
    .about-me {
        padding: 90px 50px 91px;
    }

    .about-me__article {
        grid-template-columns: 364px 255px;
        -moz-column-gap: 49px;
        column-gap: 49px;
    }

    .about-me__title {
        font-size: 40px;
        letter-spacing: -1.6px;
    }

    .about-me__description {
        font-size: 12px;
        line-height: 18px;
        padding-top: 16px;
        padding-bottom: 20px;
    }

    .about-me__text {
        font-size: 12px;
        line-height: 18px;
    }

    .about-me__link {
        padding-top: 87px;
    }
}

@media screen and (max-width: 767px) {
    .about-me {
        padding: 70px 14px;
    }

    .about-me__article {
        padding-top: 60px;
        grid-template-areas:
            "picture"
            "title"
            "description"
            "text"
            "link";
        grid-template-columns: 292px;
        grid-template-rows: 352px 76px 44px 400px 17px;
        justify-content: center;
        justify-items: center;
    }

    .about-me__image {
        scale: 1.08;
    }

    .about-me__title {
        font-size: 30px;
        letter-spacing: -1.2px;
        justify-self: start;
    }

    .about-me__description {
        font-size: 11px;
        line-height: 16px;
        justify-self: start;
    }

    .about-me__link {
        padding-top: 0;
        justify-self: start;
    }
}